<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- null이 있을때 value 값으로 바꿀 수 있도록 하는것  -->
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.ontact.users.model.dto.UsersDto" alias="UsersDto"/>
		<typeAlias type="com.kh.ontact.company.model.dto.CompanyDto" alias="CompanyDto"/>
		<typeAlias type="com.kh.ontact.chat.model.dto.ChatDto" alias="ChatDto"/>
		<typeAlias type="com.kh.ontact.chatcontent.model.dto.ChatContentDto" alias="ChatContentDto"/>
		<typeAlias type="com.kh.ontact.chatmember.model.dto.ChatMemberDto" alias="ChatMemberDto"/>
		<typeAlias type="com.kh.ontact.chatalert.model.dto.ChatAlertDto" alias="ChatAlertDto"/>
		
		<typeAlias type="com.kh.ontact.commute.model.dto.CommuteDto" alias="CommuteDto" />
		<typeAlias type="com.kh.ontact.dayoff.model.dto.DayoffDto" alias="DayoffDto" />
		<typeAlias type="com.kh.ontact.overwork.model.dto.OverworkDto" alias="OverworkDto" />
		
		<typeAlias type="com.kh.ontact.project.model.dto.ProjectDto" alias="ProjectDto" />
		<typeAlias type="com.kh.ontact.projectMember.model.dto.ProjectMemberDto" alias="ProjectMemberDto" />
 		<typeAlias type="com.kh.ontact.projectDept.model.dto.ProjectDeptDto" alias="ProjectDeptDto" />
 		<typeAlias type="com.kh.ontact.dept.model.dto.DeptDto" alias="DeptDto" />
 		<typeAlias type="com.kh.ontact.approval.model.dto.ApprovalDto" alias="ApprovalDto" />
	</typeAliases>
</configuration>